{{ template "header.html" . }}
<main>
	<h2>{{ .Destination.Name }}</h2>

	<form action="{{ urlPrefix }}/upload" method="POST" enctype="multipart/form-data" class="upload">
		<input type="hidden" name="destination" value="{{ .DestinationIdx }}">
		{{ with .Destination -}}
			<input type="file" name="file" id="file" accept=".{{ .AllowedTypes | join ", ." }}" required>
			{{ with .Template }}
				{{ if ne .Description "" }}
					{{ with .Description }}<label for="params">{{ . }}</label>{{ end }}
					<input type="text" name="params" id="params" autocomplete="off" required
						{{- with .Pattern }} pattern="{{ . }}"{{ end -}}
						{{- with .Example }} placeholder="{{ . }}"{{ end -}}
					>
				{{ end -}}
			{{ end -}}
		{{ end -}}
		<button type="submit">{{ i18n "Upload" }}</button>
	</form>
	{{ with .List }}
	<table>
		<caption>{{ i18n "Latest modifiled files" }}</caption>
		<thead>
			<tr>
				<th>{{ i18n "Filename" }}</th>
				<th>{{ i18n "Size" }}</th>
				<th>{{ i18n "Last Mod." }}</th>
				<th>{{ i18n "Actions"}}</th>
			</tr>
		</thead>
		<tbody>
			{{ range . }}
				<tr>
					<td{{ with .Metadata }} title="{{ with (index . "X-Amz-Meta-Originalfilename") }}Original: {{ . }}&#013;{{ end }}{{ with (index . "X-Amz-Meta-Params") }}Params: {{ . }}{{ end }}"{{ end }}>{{ .Name }}</td>
					<td>{{ humanize .Size }}</td>
					<td>{{ .LastMod.Format "02-01-2006 15:04:05" }}</td>
					<td>
						<form class="actions" method="POST" action="{{ urlPrefix }}/delete/{{ $.DestinationIdx }}/{{ .Name }}">
							<button class="btn delete" title="{{ i18n "Delete" }}">❌</button>
						</form>
					</td>
				</tr>
			{{ end }}
		</tbody>
	</table>
	{{ end }}
</main>
{{ template "footer.html" . }}
