<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="{{ urlPrefix }}/assets/styles/main.css">
	<title>MinioUp</title>
</head>
<body>
	<header>
		<h1>MinioUp</h1>
		{{- with .Auth }}
		<nav>
			<ul>
				{{ if ne $.CurrentPage "/" -}}
				<li><a href="/">Início</a></li>
				{{ end -}}
				{{ if and .IsAdmin (ne $.CurrentPage "/admin") -}}
					<li><a href="{{ urlPrefix }}/admin">Admin</a></li>
				{{ end -}}
				<li><a href="{{ urlPrefix }}/auth/logout">{{ i18n "Logout" }} ({{ .Username }})</a></li>
			</ul>
		</nav>
		{{- end }}
	</header>
